    <li class="contact-card">
        <div class="avatar-wraper" [style.background]="backgroundColor">
            <span class="avatar-title">{{ getFirstLetterUpper(contact.name) }}</span>
        </div>
        <div>
        <h3 class="contact-name">{{contact.name}}</h3>
        <p class="contact-number">{{contact.number}}</p>
        </div>
        <div class="menu-wrapper">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu" style="transition: none;">
        <a mat-menu-item [href]="'tel:' + contact.number" aria-label="call">Call</a>
          <dialog-add-contact [operationType]="'Edit'" (addContact)="onEditContact($event)" [name]="contact.name" [number]="contact.number"></dialog-add-contact>
          <button mat-menu-item (click)="onDelete(contact.id)" aria-label="delete contact">Delete</button>
        </mat-menu>
        </div>
    </li>

