<div class="contact-section">
    <!-- <app-add-contact (addContact)="updateContactsList($event)"></app-add-contact> -->
    <dialog-add-contact (addContact)="updateContactsList($event)" [operationType]="'Add'"></dialog-add-contact>
    <form class="contact-search">
        <mat-form-field appearance="outline" color="primary" style="width: 100%; padding: 10px;">
          <mat-label>Search contact</mat-label>
          <input matInput class="searchInput" type="text" #filter (input)="onFilterChange(filter.value)">
        </mat-form-field>
    </form>
    <ul class="contact-list" *ngIf="!this.loadin">
        <app-contacts-list *ngFor="let contact of filteredLocationList" [contact]="contact" (deleteContact)="deleteContact($event)"></app-contacts-list>
    </ul>
    <p *ngIf="filteredLocationList.length === 0 && !this.loadin" class="no-contacts-msg">Contact book is empty, create the first contact</p>
    <mat-progress-spinner mode="indeterminate" *ngIf="this.loadin" class="loader"></mat-progress-spinner>
</div>