<div [formGroup]="loginForm" class="login-section">
    <div class="from-container">
      <form [formGroup]="loginForm" novalidate (submit)="submitApplication()" class="auth-form">
        <h2 class="login-form-title">Sign in</h2>
        <div class="input-wrappet">
         <mat-form-field class="small" appearance="outline"  [color]="loginForm.invalid ? 'primary' : 'warn'" style="width: 100%;" >
            <mat-label>Email</mat-label>
            <input matInput type="email" matInput formControlName="email" formControlName="email" />
         </mat-form-field>
         <span class="form-error-msg">
            <span
                 *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
               <span *ngIf="loginForm.get('email')?.hasError('required')">field is required</span>
            <span *ngIf="loginForm.get('email')?.hasError('pattern')">invalid email</span>
            </span>
         </span>
         </div>
           <div class="input-wrappet">
         <mat-form-field class="example-full-width" appearance="outline"  [color]="loginForm.invalid ? 'primary' : 'warn'" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" formControlName="password" />
         </mat-form-field>
         <span class="form-error-msg">
            <span
                 *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password'))?.touched || loginForm.get('password')?.dirty">
               <span *ngIf="loginForm.get('password')?.hasError('required')">field is required</span>
                <span *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 7 characters</span>
            </span>
         </span>
         </div>
         <span *ngIf="loginError" class="login-error">incorrect login or password</span>
        <button type="submit" [disabled]="loginForm.invalid" class="sign-in-btn">SIGN IN</button>
      </form>
      <div class="login-to-register-link-wrapper">
        <h2>Hello, Friend!</h2>
        <p>Register with your personal details to use phonebook</p>
        <a class="link-to-sign-up" (click)="this.handleNavToRegister()">SIGN UP</a>
      </div>
    </div>
    
</div>