<div class="guid-container">
    <h1>How to use phonebook</h1>
    <ul class="guid-list">
        <li class="guid-card">
            <div class="img-wrapper">
               <img src="assets/images/usage/auth-img.png" alt="stat using image" class="guid-img"/>
            </div>
            <div class="descr-wrapper">
              <p class="guid-paragraph">Start using</p>
              <b class="guid-info">- You need to create your account or to sign in, if you are already registered, just follow one of the links</b>
            </div>
        </li>
        <li class="guid-card">
            <div class="img-wrapper">
                <img src="assets/images/usage/first-visit.png" alt="first visit image" class="guid-img"/>
            </div>
            <div class="descr-wrapper">
               <p class="guid-paragraph">First visit</p>
               <b class="guid-info">- When you sign in or sign up, you will be taken to the contact page</b>
               <b class="guid-info">- If this is your first time using the contact book, your contact list will be empty</b>
            </div>
            
        </li>
        <li class="guid-card">
            <div class="img-wrapper">
                <img src="assets/images/usage/add-img.png" alt="how to add contact image" class="guid-img"/>
            </div>
            
            <div class="descr-wrapper">
                <p class="guid-paragraph">Create your first contact</p>
                <b class="guid-info">- To create your first contact, just click the button with "+" icon in the bottom-right corner of your screen</b>
                <b class="guid-info">- When you clicked, the modal window will open and you will be able to add contact information (name and number), then click "add" to create contact</b>
                <b class="guid-info">- Attention! All fields are required</b>
            </div>
            
        </li>
        <li class="guid-card">
            <div class="img-wrapper">
                <img src="assets/images/usage/operation-img.png" alt="operation with contact image" class="guid-img"/>
            </div>
               <div class="descr-wrapper">
                  <p class="guid-paragraph">Operation with contacts</p>
                  <b class="guid-info">- Your created contact is displayed as a card</b>
                  <b class="guid-info">- In the top-right corner of card you can click on "three-dots" button</b>
                  <b class="guid-info">- Finally, the drop-down list will open and you will see possible operations with contacts</b>
               </div>
        </li>
    </ul>
</div>