<div [formGroup]="registerForm" class="register-section">
     <div class="from-container">
        <div class="login-to-register-link-wrapper">
        <h2>Welcome Back!</h2>
        <p>Enter your personal details to get your contacts</p>
        <a class="link-to-sign-up" (click)="this.handleNavToLogin()">SIGN IN</a>
      </div>
    <form [formGroup]="registerForm" novalidate (submit)="submitRegistation()" class="auth-form">
         <h2 class="login-form-title">Sign up</h2>
         <div class="input-wrappet">
         <mat-form-field class="example-full-width" appearance="outline"  [color]="registerForm.invalid ? 'primary' : 'warn'" style="width: 100%;">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" />
         </mat-form-field>
         <span class="form-error-msg">
            <span
                *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name'))?.touched || registerForm.get('name')?.dirty">
                <span *ngIf="registerForm.get('name')?.hasError('required')">field is required</span>
                <span *ngIf="registerForm.get('name')?.hasError('minlength')">Name must be at least 2 characters</span>
            </span>
         </span>
         </div>
         <div class="input-wrappet">
         <mat-form-field class="example-full-width" appearance="outline"  [color]="registerForm.invalid ? 'primary' : 'warn'" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
         </mat-form-field>
         <span class="form-error-msg">
            <span
                 *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
               <span *ngIf="registerForm.get('email')?.hasError('required')">field is required</span>
            <span *ngIf="registerForm.get('email')?.hasError('pattern')">invalid email</span>
            </span>
         </span>
         </div>
             <div class="input-wrappet">
         <mat-form-field class="example-full-width" appearance="outline"  [color]="registerForm.invalid ? 'primary' : 'warn'" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
         </mat-form-field>
         <span class="form-error-msg">
            <span
                *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password'))?.touched || registerForm.get('password')?.dirty">
                <span *ngIf="registerForm.get('password')?.hasError('required')">field is required</span>
                <span *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 7 characters</span>
            </span>
         </span>
         </div>
         <span *ngIf="registationError" class="reg-error">user with such email is already exist</span>
        <button type="submit" [disabled]="registerForm.invalid" class="sign-in-btn">Log in</button>
    </form>
    </div>
</div>